name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build with Buildozer
        uses: ArtemSerebryakov/buildozer-action@v1
        with:
          buildozer_version: master
          command: android debug
          python_version: 3.10
